name: CI
on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5433:5432

    env:
      DB_USER: test_user
      DB_NAME: test_db
      DB_PASSWORD: test_password
      SECRET_KEY: super_secret_key
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 60
      VAPID_PUBLIC_KEY: 1DbAUYfIoC60U5VtXGzeMTliBNZgRRbBKNZSMrTLH-2hbjVd4fFXp4ZMoRLDr0asU-4jzTr4Q6fKH8cPup4ZTCM
      VAPID_PRIVATE_KEY: go6HGlufX1R4KFDff7xjV15E9dcR_1k0Tz7cG9wJtRs

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint (ruff)
        run: poetry run ruff check tprep tests
      - name: Type check (mypy)
        run: poetry run mypy tprep --show-traceback
#      - name: Tests
#        run: poetry run pytest tests
      - name: Build Docker image
        run: docker build -t backend:ci .